.container {
  background: url('src\body_background.jpg') no-repeat center center fixed;
  padding: 30px;
  border-radius: 25px;
}

.card {
  border-radius: 15px;
}

.card-header {
  background-color: white;
}
