.container {
  background: url('/src/body_background.jpg');
  padding: 30px;
  border-radius: 25px;
}

.card {
  border-radius: 15px;
}

.card-header {
  background: url('/src/div_background.jpg');
}
